Repository jst-seminar-rostlab-tum/personio-foundation-coachai, changes with the owners that .github/CODEOWNERS names for each.
All owners: @SimonPaul02, @ta-mey, @JCaesar20, @rautenrieb, @marinovl7

fix(M): fix typo in COMMERCIAL_LICENSE_AGREEMENT.txt
  COMMERCIAL_LICENSE_AGREEMENT.txt
Owners: @marinovl7, @ta-mey

fix(M): fix typo in COMMERCIAL_LICENSE_AGREEMENT.txt
  COMMERCIAL_LICENSE_AGREEMENT.txt
Owners: @marinovl7, @ta-mey

fix(M): fix license software name
  COMMERCIAL_LICENSE_AGREEMENT.txt
Owners: @marinovl7, @ta-mey

feat: restructure training preparation and case creation logic; add u… (#235)
  backend/app/models/__init__.py
  backend/app/routers/training_case_route.py
  backend/app/schemas/training_preparation_schema.py
  backend/app/services/training_case_service.py
  backend/app/services/training_preparation_service.py
  backend/app/tests/services/test_training_case_service_db.py
  backend/app/tests/services/test_training_preparation_service_db.py
Owners: @rautenrieb, @ta-mey

Revert "feat: restructure training preparation and case creation logic; add u…"
  backend/app/models/__init__.py
  backend/app/routers/training_case_route.py
  backend/app/schemas/training_preparation_schema.py
  backend/app/services/training_case_service.py
  backend/app/services/training_preparation_service.py
  backend/app/tests/services/test_training_case_service_db.py
  backend/app/tests/services/test_training_preparation_service_db.py
Owners: @rautenrieb, @ta-mey

fix(F-176): add asterisk to required fields to onboarding and new training pages
  frontend/messages/de/NewTraining.json
  frontend/messages/de/Onboarding.json
  frontend/messages/en/NewTraining.json
  frontend/messages/en/Onboarding.json
Owners: @JCaesar20, @ta-mey

Revert "feat: restructure training preparation and case creation logic; add u…" (#275)
  backend/app/models/__init__.py
  backend/app/routers/training_case_route.py
  backend/app/schemas/training_preparation_schema.py
  backend/app/services/training_case_service.py
  backend/app/services/training_preparation_service.py
  backend/app/tests/services/test_training_case_service_db.py
  backend/app/tests/services/test_training_preparation_service_db.py
Owners: @rautenrieb, @ta-mey

feat: implement error handling and retry logic in feedback generation process
  backend/app/services/training_feedback_service.py
  backend/app/tests/services/test_training_feedback_service_db.py
Owners: @rautenrieb, @ta-mey

Feat/generate and store feedback new structure (#236)
  backend/app/models/__init__.py
  backend/app/services/training_feedback_service.py
  backend/app/tests/services/test_training_feedback_service_db.py
Owners: @rautenrieb, @ta-mey

Feat/async training preparation new structure (#277)
  backend/app/models/__init__.py
  backend/app/routers/training_case_route.py
  backend/app/schemas/training_preparation_schema.py
  backend/app/services/training_case_service.py
  backend/app/services/training_feedback_service.py
  backend/app/services/training_preparation_service.py
  backend/app/tests/services/test_training_case_service_db.py
  backend/app/tests/services/test_training_feedback_service_db.py
  backend/app/tests/services/test_training_preparation_service_db.py
Owners: @rautenrieb, @ta-mey

Update embedding models and document rag functionality
  backend/app/config.py
  backend/app/rag/embeddings.py
  backend/app/rag/rag.py
  backend/app/rag/vector_db.py
  backend/pyproject.toml
Owners: @rautenrieb, @ta-mey

feat(B-107): Fix import paths
  backend/app/rag/rag.py
  backend/uv.lock
Owners: @rautenrieb, @ta-mey

feat(B-141): add type ignore to feedback models
  backend/app/routers/training_session_route.py
  backend/uv.lock
Owners: @rautenrieb, @ta-mey

fix(F-207): move header and footer to components folder
  frontend/src/app/[locale]/(main)/history/components/HistoryHeader.tsx
  frontend/src/app/[locale]/(main)/history/page.tsx
  frontend/src/app/[locale]/(main)/new-training/components/CategoryStep.tsx
  frontend/src/app/[locale]/(main)/new-training/components/CustomizeStep.tsx
  frontend/src/app/[locale]/(main)/new-training/components/NewTrainingForm.tsx
  frontend/src/app/[locale]/(main)/new-training/components/SituationStep.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationFooter.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationHeader.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationPage.tsx
Owners: @JCaesar20, @ta-mey

feat(B-141): view one training session
  backend/app/models/__init__.py
  backend/app/models/training_session.py
  backend/app/routers/training_session_route.py
Owners: @rautenrieb, @ta-mey

feat(B-141): replacing full TrainingSessionFeedbackRead with only metrics schema
  backend/app/models/training_session.py
  backend/app/models/training_session_feedback.py
  backend/app/routers/training_session_route.py
Owners: @rautenrieb, @ta-mey

fix(F-176): add asterisk to required fields to onboarding and new training pages (#276)
  frontend/messages/de/NewTraining.json
  frontend/messages/de/Onboarding.json
  frontend/messages/en/NewTraining.json
  frontend/messages/en/Onboarding.json
Owners: @JCaesar20, @ta-mey

feat(B-141): view one training session
  backend/app/models/training_session.py
Owners: @rautenrieb, @ta-mey

feat(M): changed python version to >=
  backend/pyproject.toml
Owners: @rautenrieb, @ta-mey

fix(M): fix import path
  backend/app/models/training_session.py
Owners: @rautenrieb, @ta-mey

feat(B-141): get training session title from case
  backend/app/routers/training_session_route.py
Owners: @rautenrieb, @ta-mey

feat(B-141): add type ignore to feedback models
  backend/app/routers/training_session_route.py
  backend/uv.lock
Owners: @rautenrieb, @ta-mey

feat(F-207): restructure components folder (#269)
  frontend/src/app/[locale]/(about)/components/AboutPage.tsx
  frontend/src/app/[locale]/(about)/page.tsx
  frontend/src/app/[locale]/(main)/admin/components/AdminPage.tsx
  frontend/src/app/[locale]/(main)/admin/page.tsx
  frontend/src/app/[locale]/(main)/dashboard/components/HistoryItem.tsx
  frontend/src/app/[locale]/(main)/dashboard/page.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDetail.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackQuote.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/page.tsx
  frontend/src/app/[locale]/(main)/history/components/HistoryHeader.tsx
  frontend/src/app/[locale]/(main)/history/components/HistoryStats.tsx
  frontend/src/app/[locale]/(main)/history/components/PreviousSessions.tsx
  frontend/src/app/[locale]/(main)/history/page.tsx
  frontend/src/app/[locale]/(main)/new-training/components/CategoryButton.tsx
  frontend/src/app/[locale]/(main)/new-training/components/CategoryStep.tsx
  frontend/src/app/[locale]/(main)/new-training/components/CustomizeStep.tsx
  frontend/src/app/[locale]/(main)/new-training/components/NewTrainingForm.tsx
  frontend/src/app/[locale]/(main)/new-training/components/SituationStep.tsx
  frontend/src/app/[locale]/(main)/new-training/page.tsx
  frontend/src/app/[locale]/(main)/onboarding/components/OnboardingPage.tsx
  frontend/src/app/[locale]/(main)/onboarding/components/UserRadioComponent.tsx
  frontend/src/app/[locale]/(main)/onboarding/page.tsx
  frontend/src/app/[locale]/(main)/preparation/components/ObjectivesList.tsx
  frontend/src/app/[locale]/(main)/preparation/components/PreparationChecklist.tsx
  frontend/src/app/[locale]/(main)/preparation/page.tsx
  frontend/src/app/[locale]/(main)/training-settings/components/TrainingSettings.tsx
  frontend/src/app/[locale]/(main)/training-settings/components/UserPreferences.tsx
  frontend/src/app/[locale]/(main)/training-settings/page.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationFooter.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationHeader.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationMessages.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationPage.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationRealtimeSuggestions.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/page.tsx
Owners: @JCaesar20, @ta-mey

feat(F-44): extract onChange for password input field from remaining props
  frontend/src/components/common/PasswordInput.tsx
  frontend/src/components/common/SignInForm.tsx
  frontend/src/components/common/SignUpForm.tsx
  frontend/src/interfaces/PasswordInput.ts
Owners: @JCaesar20, @ta-mey

.github/CODEOWNERS:

* @SimonPaul02 @ta-mey
/frontend/ @JCaesar20 @ta-mey
/backend/ @rautenrieb @ta-mey
/COMMERCIAL_LICENSE_AGREEMENT.txt @marinovl7 @ta-mey
/LICENSE @marinovl7 @ta-mey
/.github/CODEOWNERS @marinovl7 @ta-mey
