Repository jst-seminar-rostlab-tum/personio-foundation-coachai, pull requests merged in 2025-06, with the labels that each got.

#235 feat: restructure training preparation and case creation logic; add u…
  backend/app/models/__init__.py
  backend/app/routers/training_case_route.py
  backend/app/schemas/training_preparation_schema.py
  backend/app/services/training_case_service.py
  backend/app/services/training_preparation_service.py
  backend/app/tests/services/test_training_case_service_db.py
  backend/app/tests/services/test_training_preparation_service_db.py
Labels: feature, backend

#236 Feat/generate and store feedback new structure
  backend/app/models/__init__.py
  backend/app/services/training_feedback_service.py
  backend/app/tests/services/test_training_feedback_service_db.py
Labels: feature, backend

#277 Feat/async training preparation new structure
  backend/app/models/__init__.py
  backend/app/routers/training_case_route.py
  backend/app/schemas/training_preparation_schema.py
  backend/app/services/training_case_service.py
  backend/app/services/training_feedback_service.py
  backend/app/services/training_preparation_service.py
  backend/app/tests/services/test_training_case_service_db.py
  backend/app/tests/services/test_training_feedback_service_db.py
  backend/app/tests/services/test_training_preparation_service_db.py
Labels: feature, backend

#276 fix(F-176): add asterisk to required fields to onboarding and new tra…
  frontend/messages/de/NewTraining.json
  frontend/messages/de/Onboarding.json
  frontend/messages/en/NewTraining.json
  frontend/messages/en/Onboarding.json
Labels: frontend

#269 feat(F-207): restructure components folder
  frontend/src/app/[locale]/(about)/components/AboutPage.tsx
  frontend/src/app/[locale]/(about)/page.tsx
  frontend/src/app/[locale]/(main)/admin/components/AdminPage.tsx
  frontend/src/app/[locale]/(main)/admin/page.tsx
  frontend/src/app/[locale]/(main)/dashboard/components/HistoryItem.tsx
  frontend/src/app/[locale]/(main)/dashboard/page.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDetail.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackQuote.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/page.tsx
  frontend/src/app/[locale]/(main)/history/components/HistoryHeader.tsx
  frontend/src/app/[locale]/(main)/history/components/HistoryStats.tsx
  frontend/src/app/[locale]/(main)/history/components/PreviousSessions.tsx
  frontend/src/app/[locale]/(main)/history/page.tsx
  frontend/src/app/[locale]/(main)/new-training/components/CategoryButton.tsx
  frontend/src/app/[locale]/(main)/new-training/components/CategoryStep.tsx
  frontend/src/app/[locale]/(main)/new-training/components/CustomizeStep.tsx
  frontend/src/app/[locale]/(main)/new-training/components/NewTrainingForm.tsx
  frontend/src/app/[locale]/(main)/new-training/components/SituationStep.tsx
  frontend/src/app/[locale]/(main)/new-training/page.tsx
  frontend/src/app/[locale]/(main)/onboarding/components/OnboardingPage.tsx
  frontend/src/app/[locale]/(main)/onboarding/components/UserRadioComponent.tsx
  frontend/src/app/[locale]/(main)/onboarding/page.tsx
  frontend/src/app/[locale]/(main)/preparation/components/ObjectivesList.tsx
  frontend/src/app/[locale]/(main)/preparation/components/PreparationChecklist.tsx
  frontend/src/app/[locale]/(main)/preparation/page.tsx
  frontend/src/app/[locale]/(main)/training-settings/components/TrainingSettings.tsx
  frontend/src/app/[locale]/(main)/training-settings/components/UserPreferences.tsx
  frontend/src/app/[locale]/(main)/training-settings/page.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationFooter.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationHeader.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationMessages.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationPage.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationRealtimeSuggestions.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/page.tsx
Labels: frontend

#268 feat(F-44): add login and signup components
  frontend/eslint.config.mjs
  frontend/messages/de/Login.json
  frontend/messages/en/Login.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/icons/google-icon.svg
  frontend/src/app/[locale]/(about)/login/components/PasswordInput.tsx
  frontend/src/app/[locale]/(about)/login/components/PrivacyDialog.tsx
  frontend/src/app/[locale]/(about)/login/components/SignInForm.tsx
  frontend/src/app/[locale]/(about)/login/components/SignUpForm.tsx
  frontend/src/app/[locale]/(about)/login/components/VerificationPopup.tsx
  frontend/src/app/[locale]/(about)/login/loading.tsx
  frontend/src/app/[locale]/(about)/login/page.tsx
  frontend/src/app/[locale]/(main)/login/page.tsx
  frontend/src/components/layout/AboutHeader.tsx
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/Checkbox.tsx
  frontend/src/components/ui/Dialog.tsx
  frontend/src/components/ui/Form.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/RadioGroup.tsx
  frontend/src/components/ui/Tabs.tsx
  frontend/src/components/ui/Textarea.tsx
  frontend/src/contexts/Form.ts
  frontend/src/interfaces/Api.ts
  frontend/src/interfaces/Form.ts
  frontend/src/interfaces/PasswordInput.ts
  frontend/src/interfaces/PrivacyDialog.ts
  frontend/src/interfaces/SignInForm.ts
  frontend/src/interfaces/SignUpForm.ts
  frontend/src/interfaces/VerificationPopup.ts
  frontend/src/services/Api.ts
  frontend/src/styles/globals.css
Labels: frontend

#239 feat(F-175): create privacy policy page
  frontend/messages/de/PrivacyPolicy.json
  frontend/messages/de/TermsOfService.json
  frontend/messages/en/PrivacyPolicy.json
  frontend/messages/en/TermsOfService.json
  frontend/src/app/[locale]/(about)/privacy/page.tsx
  frontend/src/app/[locale]/(about)/terms/page.tsx
  frontend/src/i18n/request.ts
  frontend/src/lib/metadata.ts
Labels: feature, frontend

#278 feat(F-177): SEO Improvement
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/app/sitemap.ts
  frontend/src/lib/metadata.ts
Labels: frontend

#281 fix(F-205): adjust feedback round stats
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDetail.tsx
Labels: frontend, improvement

#283 feat(F-137): Add clarity as skill
  frontend/messages/de/Feedback.json
  frontend/messages/de/History.json
  frontend/messages/en/Feedback.json
  frontend/messages/en/History.json
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDetail.tsx
  frontend/src/app/[locale]/(main)/history/components/HistoryStats.tsx
Labels: frontend, improvement

#296 (B-295): Improve Pull Request Template for Backend Team
  .github/PULL_REQUEST_TEMPLATE/backend.md
  .github/PULL_REQUEST_TEMPLATE/default.md
Labels: documentation, improvement

#282 Voice analysis using Gemini
  backend/app/connections/gemini_client.py
  backend/app/services/voice_analysis_service.py
  backend/pyproject.toml
  backend/uv.lock
Labels: meta, backend

#224 Update embedding models and document rag functionality
  backend/app/config.py
  backend/app/rag/embeddings.py
  backend/app/rag/rag.py
  backend/app/rag/vector_db.py
  backend/pyproject.toml
  backend/uv.lock
Labels: meta, backend

#324 feat(F-001): Add smooth scroll to #how-it-works in homepage
  frontend/src/app/[locale]/(about)/components/AboutPage.tsx
  frontend/src/styles/globals.css
Labels: feature, frontend

#355 feat: refactor user profile and confidence score models, remove unuse…
  backend/app/data/__init__.py
  backend/app/data/dummy_data.py
  backend/app/data/populate_dummy_data.py
  backend/app/dependencies.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/confidence_area.py
  backend/app/models/experience.py
  backend/app/models/goal.py
  backend/app/models/learning_style.py
  backend/app/models/personalization_option.py
  backend/app/models/user_confidence_score.py
  backend/app/models/user_goal.py
  backend/app/models/user_profile.py
  backend/app/routers/confidence_area_route.py
  backend/app/routers/goal_route.py
  backend/app/routers/learning_style_route.py
  backend/app/routers/personalization_options_route.py
  backend/app/routers/user_goals_route.py
  backend/app/routers/user_profile_route.py
  backend/app/services/scenario_preparation_service.py
Labels: feature, backend, improvement

#313 Feat/integrate knowledge base query system
  backend/app/rag/vector_db.py
  backend/app/services/vector_db_context_service.py
  backend/app/tests/services/test_vector_db_context_service.py
Labels: meta, backend

#372 Fix vector db tests failing when api key is missing
  backend/app/connections/gemini_client.py
Labels: bug, meta, backend

#309 feat(M): add pr workflows, added linting and testing to deploy backend workflow
  .github/workflows/check-backend-on-pr.yml
  .github/workflows/check-frontend-on-pr.yml
  .github/workflows/deploy-backend.yml
  .github/workflows/deploy-frontend.yml
  backend/.pre-commit-config.yaml
  backend/app/data/dummy_data.py
  backend/app/models/conversation_scenario.py
  backend/app/models/user_confidence_score.py
  backend/app/models/user_goal.py
  backend/app/tests/mock_test.py
  backend/pyproject.toml
  backend/uv.lock
Labels: meta

#304 feat(F-212): integrate with get training case preparation endpoint
  frontend/messages/de/Preparation.json
  frontend/messages/en/Preparation.json
  frontend/src/app/[locale]/(main)/preparation/[id]/loading.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/page.tsx
  frontend/src/app/[locale]/(main)/preparation/components/PreparationContent.tsx
  frontend/src/app/[locale]/(main)/preparation/components/PreparationKeyConcepts.tsx
  frontend/src/app/[locale]/(main)/preparation/page.tsx
  frontend/src/interfaces/TrainingPreparation.ts
  frontend/src/services/Api.ts
  frontend/src/services/ConversationScenarioService.ts
Labels: feature, frontend

#399 fix: enhance user goals and confidence scores structure, update user …
  backend/app/data/dummy_data.py
  backend/app/models/user_confidence_score.py
  backend/app/models/user_goal.py
  backend/app/models/user_profile.py
  backend/app/routers/user_profile_route.py
Labels: bug, backend, improvement

#314 Feat/new-training-endpoints
  frontend/messages/de/AppHeader.json
  frontend/messages/de/ConversationScenario.json
  frontend/messages/en/AppHeader.json
  frontend/messages/en/ConversationScenario.json
  frontend/public/icons/negative.svg
  frontend/public/icons/positive.svg
  frontend/public/robots.txt
  frontend/src/app/[locale]/(main)/dashboard/page.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/CategoryButton.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/CategoryStep.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/ConversationScenarioForm.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/CustomizeStep.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/SituationStep.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/loading.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/page.tsx
  frontend/src/app/[locale]/(main)/new-training/components/CategoryStep.tsx
  frontend/src/app/[locale]/(main)/new-training/components/SituationStep.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/components/ObjectivesList.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/components/PreparationChecklist.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/components/PreparationContent.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/components/PreparationKeyConcepts.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/page.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/components/ui/RadioGroup.tsx
  frontend/src/i18n/request.ts
  frontend/src/interfaces/CategoryStepProps.ts
  frontend/src/interfaces/ConversationCategory.ts
  frontend/src/interfaces/ConversationScenario.ts
  frontend/src/interfaces/ConversationScenarioFormState.ts
  frontend/src/interfaces/ConversationScenarioPreparation.ts
  frontend/src/interfaces/SituationStepProps.ts
  frontend/src/lib/metadata.ts
  frontend/src/services/ConversationScenarioService.ts
Labels: feature, frontend

#404 feat(F-124): Feedback page endpoint integration
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDetail.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/loading.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/page.tsx
  frontend/src/interfaces/FeedbackQuoteProps.ts
  frontend/src/services/SessionService.ts
Labels: feature, frontend

#325 feat(F-002): Get Admin Dashboard Stats Endpoint
  frontend/src/app/[locale]/(main)/admin/components/AdminPage.tsx
  frontend/src/app/[locale]/(main)/admin/page.tsx
  frontend/src/interfaces/AdminProps.ts
  frontend/src/services/server/AdminService.ts
Labels: feature, frontend

#392 feat(F-337): implement 'back button' for better navigation
  frontend/src/app/[locale]/(main)/layout.tsx
  frontend/src/components/common/BackButton.tsx
  frontend/src/interfaces/BackButton.ts
Labels: feature, frontend

#397 Feat/344 Translation from Backend keys + User Profile Integration
  frontend/messages/de/PersonalizationOptions.json
  frontend/messages/en/PersonalizationOptions.json
  frontend/src/app/[locale]/(main)/onboarding/components/OnboardingPage.tsx
  frontend/src/app/[locale]/(main)/onboarding/components/UserRadioComponent.tsx
  frontend/src/app/[locale]/(main)/training-settings/components/TrainingSettings.tsx
  frontend/src/app/[locale]/(main)/training-settings/components/UserPreferences.tsx
  frontend/src/app/[locale]/(main)/training-settings/loading.tsx
  frontend/src/app/[locale]/(main)/training-settings/page.tsx
  frontend/src/components/common/UserConfidenceFields.tsx
  frontend/src/configs/UserConfidenceFields.config.ts
  frontend/src/configs/UserPreferences.config.ts
  frontend/src/configs/UserRoleLeadershipGoals.config.ts
  frontend/src/i18n/request.ts
  frontend/src/interfaces/UserInputFields.ts
  frontend/src/interfaces/UserProfile.ts
  frontend/src/lib/utils.ts
  frontend/src/services/client/UserProfileService.ts
  frontend/src/services/server/UserProfileService.ts
Labels: feature, frontend

#419 Feat/343 backend success/error alert
  frontend/messages/de/ConversationScenario.json
  frontend/messages/de/Feedback.json
  frontend/messages/de/History.json
  frontend/messages/de/Onboarding.json
  frontend/messages/de/Preparation.json
  frontend/messages/de/Simulation.json
  frontend/messages/de/TrainingSettings.json
  frontend/messages/en/ConversationScenario.json
  frontend/messages/en/Feedback.json
  frontend/messages/en/History.json
  frontend/messages/en/Onboarding.json
  frontend/messages/en/Preparation.json
  frontend/messages/en/Simulation.json
  frontend/messages/en/TrainingSettings.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/(auth)/confirm/components/ConfirmationForm.tsx
  frontend/src/app/[locale]/(auth)/layout.tsx
  frontend/src/app/[locale]/(auth)/login/components/SignInForm.tsx
  frontend/src/app/[locale]/(auth)/login/components/SignUpForm.tsx
  frontend/src/app/[locale]/(auth)/login/components/VerificationPopup.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDetail.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDialog.tsx
  frontend/src/app/[locale]/(main)/history/components/PreviousSessions.tsx
  frontend/src/app/[locale]/(main)/layout.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/ConversationScenarioForm.tsx
  frontend/src/app/[locale]/(main)/onboarding/components/OnboardingPage.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/components/CreateSessionButton.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/components/PreparationContent.tsx
  frontend/src/app/[locale]/(main)/training-settings/components/TrainingSettings.tsx
  frontend/src/app/[locale]/(standalone)/layout.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationPage.tsx
  frontend/src/components/ui/Alert.tsx
  frontend/src/components/ui/Sonner.tsx
  frontend/src/lib/toast.ts
Labels: feature, frontend

#416 feat(M): integrate session pagination
  backend/app/routers/session_route.py
  frontend/messages/de/History.json
  frontend/messages/en/History.json
  frontend/src/app/[locale]/(main)/dashboard/components/HistoryItem.tsx
  frontend/src/app/[locale]/(main)/dashboard/components/HistoryItems.tsx
  frontend/src/app/[locale]/(main)/dashboard/page.tsx
  frontend/src/app/[locale]/(main)/history/components/PreviousSessions.tsx
  frontend/src/app/[locale]/(main)/history/page.tsx
  frontend/src/interfaces/HistoryItemProps.ts
  frontend/src/interfaces/HistoryItemsProps.ts
  frontend/src/interfaces/Session.ts
  frontend/src/services/server/SessionService.ts
Labels: frontend

#322 feat(F-274): Integrate with update daily user token limit endpoint
  frontend/messages/de/Admin.json
  frontend/messages/en/Admin.json
  frontend/src/app/[locale]/(main)/admin/components/AdminPage.tsx
  frontend/src/interfaces/AdminProps.ts
  frontend/src/services/client/AdminService.ts
Labels: frontend

#376 Feat/271 user statistics endpoint
  frontend/messages/de/History.json
  frontend/messages/en/Dashboard.json
  frontend/messages/en/History.json
  frontend/src/app/[locale]/(main)/dashboard/components/DashboardStats.tsx
  frontend/src/app/[locale]/(main)/dashboard/page.tsx
  frontend/src/app/[locale]/(main)/history/components/HistoryStats.tsx
  frontend/src/app/[locale]/(main)/history/components/PreviousSessions.tsx
  frontend/src/app/[locale]/(main)/history/page.tsx
  frontend/src/interfaces/UserStats.ts
  frontend/src/services/server/SessionService.ts
  frontend/src/services/server/UserProfileService.ts
Labels: feature, frontend

#510 Adjust width of the back button
  frontend/src/components/common/BackButton.tsx
Labels: frontend, improvement

#500 fix(F-498): Remove Your Approach Section on Feedback Page
  frontend/messages/de/Feedback.json
  frontend/messages/en/Feedback.json
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDetail.tsx
Labels: frontend

#507 fix(F-448): adjust input active state
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/SituationStep.tsx
  frontend/src/components/ui/Input.tsx
Labels: frontend, improvement

#521 fix(F-520): add missing translations for code length verification
  frontend/messages/de/Login.json
  frontend/messages/en/Login.json
Labels: bug, frontend

#480 fix(F-451): fix pasting in signup verification
  frontend/src/app/[locale]/(auth)/confirm/components/ConfirmationForm.tsx
  frontend/src/app/[locale]/(auth)/login/components/VerificationPopup.tsx
  frontend/src/interfaces/PasteField.ts
  frontend/src/lib/handlePaste.ts
Labels: frontend, improvement

#479 feat(F-450): implement 404 and 500 page
  frontend/messages/de/Common.json
  frontend/messages/en/Common.json
  frontend/src/app/error.tsx
  frontend/src/app/layout.tsx
  frontend/src/app/not-found.tsx
  frontend/src/interfaces/ErrorPageProps.ts
Labels: feature, frontend

#514 Feat/340 prevent reset on language switch
  frontend/messages/de/Common.json
  frontend/messages/en/Common.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/ConversationScenarioForm.tsx
  frontend/src/app/[locale]/(main)/onboarding/components/OnboardingPage.tsx
  frontend/src/interfaces/state/ConversationScenarioState.ts
  frontend/src/interfaces/state/OnboardingState.ts
  frontend/src/store/ConversationScenarioStore.ts
  frontend/src/store/OnboardingStore.ts
Labels: feature, frontend

#511 Keep backend production servers on indefinitely
  backend/fly.toml
Labels: meta, backend

#525 feat: add multi-language support for scenario preparation and feedbac…
  backend/app/routers/conversation_scenario_route.py
  backend/app/routers/session_route.py
  backend/app/schemas/scenario_prep_config.py
  backend/app/schemas/scenario_preparation.py
  backend/app/schemas/session_feedback.py
  backend/app/schemas/session_feedback_config.py
  backend/app/services/__init__.py
  backend/app/services/scenario_preparation/__init__.py
  backend/app/services/scenario_preparation/scenario_prep_config.json
  backend/app/services/scenario_preparation/scenario_preparation_service.py
  backend/app/services/session_feedback/__init__.py
  backend/app/services/session_feedback/session_feedback_config.json
  backend/app/services/session_feedback/session_feedback_service.py
  backend/app/tests/services/test_scenario_preparation_service.py
  backend/app/tests/services/test_scenario_preparation_service_db.py
  backend/app/tests/services/test_session_feedback_service.py
  backend/app/tests/services/test_session_feedback_service_db.py
Labels: feature, backend

#227 Feat/integrate with delete user endpoint
  frontend/messages/de/Common.json
  frontend/messages/de/Settings.json
  frontend/messages/en/Common.json
  frontend/messages/en/Settings.json
  frontend/src/app/[locale]/(main)/admin/components/AdminPage.tsx
  frontend/src/app/[locale]/(main)/settings/components/Settings.tsx
  frontend/src/components/common/DeleteUserHandler.tsx
  frontend/src/interfaces/DeleteUserHandlerProps.ts
  frontend/src/services/client/UserProfileService.ts
Labels: frontend

#568 feat(F-542): restructure image folder
  frontend/messages/de/ConversationScenario.json
  frontend/messages/en/ConversationScenario.json
  frontend/public/images/category/conflict-resolution.svg
  frontend/public/images/category/custom.svg
  frontend/public/images/category/giving-feedback.svg
  frontend/public/images/category/performance-reviews.svg
  frontend/public/images/category/salary-discussions.svg
  frontend/public/images/common/empty-list.png
  frontend/public/images/complexity/complex.svg
  frontend/public/images/complexity/medium.svg
  frontend/public/images/complexity/simple.svg
  frontend/public/images/difficulty/easy.svg
  frontend/public/images/difficulty/hard.svg
  frontend/public/images/difficulty/medium.svg
  frontend/public/images/icons/google-icon.svg
  frontend/public/images/icons/icon-192x192.png
  frontend/public/images/icons/icon-512x512.png
  frontend/public/images/icons/icon512-maskable.png
  frontend/public/images/icons/icon512-rounded.png
  frontend/public/images/icons/personio-foundation-favicon.png
  frontend/public/images/mood/negative.svg
  frontend/public/images/mood/neutral.svg
  frontend/public/images/mood/positive.svg
  frontend/public/manifest.json
  frontend/src/app/[locale]/(auth)/login/components/SignInForm.tsx
  frontend/src/app/[locale]/(auth)/login/components/SignUpForm.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/CustomizeStep.tsx
  frontend/src/components/common/EmptyListComponent.tsx
  frontend/src/lib/metadata.ts
Labels: frontend

#567 fix(F-495): replace client side rendering
  frontend/src/app/[locale]/(about)/components/AboutPage.tsx
  frontend/src/app/[locale]/(about)/page.tsx
  frontend/src/app/[locale]/(about)/privacy/page.tsx
  frontend/src/app/[locale]/(about)/terms/page.tsx
  frontend/src/app/[locale]/(auth)/login/components/PasswordInput.tsx
  frontend/src/app/[locale]/(auth)/login/components/PrivacyDialog.tsx
  frontend/src/app/[locale]/(auth)/login/page.tsx
  frontend/src/app/[locale]/(main)/admin/components/AdminPage.tsx
  frontend/src/app/[locale]/(main)/admin/components/Reviews.tsx
  frontend/src/app/[locale]/(main)/admin/components/TokenSetter.tsx
  frontend/src/app/[locale]/(main)/admin/components/UserManagement.tsx
  frontend/src/app/[locale]/(main)/admin/page.tsx
  frontend/src/app/[locale]/(main)/dashboard/components/DashboardStats.tsx
  frontend/src/app/[locale]/(main)/dashboard/components/HistoryItems.tsx
  frontend/src/app/[locale]/(main)/dashboard/page.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDetail.tsx
  frontend/src/app/[locale]/(main)/history/components/HistoryHeader.tsx
  frontend/src/app/[locale]/(main)/history/components/HistoryStats.tsx
  frontend/src/app/[locale]/(main)/history/page.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/CategoryButton.tsx
  frontend/src/components/common/DeleteUserHandler.tsx
  frontend/src/components/common/EmptyListComponent.tsx
  frontend/src/components/common/StatCard.tsx
  frontend/src/components/common/Stepper.tsx
  frontend/src/components/layout/AboutFooter.tsx
  frontend/src/interfaces/UserStats.ts
  frontend/src/lib/utils.ts
Labels: frontend

#572 feat(F-417): optimize services
  frontend/src/app/[locale]/(auth)/confirm/components/ConfirmationForm.tsx
  frontend/src/app/[locale]/(auth)/login/components/VerificationPopup.tsx
  frontend/src/app/[locale]/(main)/admin/components/Reviews.tsx
  frontend/src/app/[locale]/(main)/admin/components/TokenSetter.tsx
  frontend/src/app/[locale]/(main)/admin/page.tsx
  frontend/src/app/[locale]/(main)/dashboard/page.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDetail.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDialog.tsx
  frontend/src/app/[locale]/(main)/history/components/PreviousSessions.tsx
  frontend/src/app/[locale]/(main)/history/page.tsx
  frontend/src/app/[locale]/(main)/layout.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/ConversationScenarioForm.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/page.tsx
  frontend/src/app/[locale]/(main)/onboarding/components/OnboardingPage.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/components/CreateSessionButton.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/components/PreparationContent.tsx
  frontend/src/app/[locale]/(main)/settings/components/Settings.tsx
  frontend/src/app/[locale]/(main)/settings/page.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationPage.tsx
  frontend/src/components/common/DeleteUserHandler.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/lib/supabase/logout.ts
  frontend/src/services/AdminService.ts
  frontend/src/services/ApiClient.ts
  frontend/src/services/ApiServer.ts
  frontend/src/services/AuthInterceptor.ts
  frontend/src/services/AuthService.ts
  frontend/src/services/ConversationScenarioService.ts
  frontend/src/services/ReviewService.ts
  frontend/src/services/SessionService.ts
  frontend/src/services/UserProfileService.ts
  frontend/src/services/client/AdminService.ts
  frontend/src/services/client/Api.ts
  frontend/src/services/client/AuthService.ts
  frontend/src/services/client/ReviewService.ts
  frontend/src/services/client/UserProfileService.ts
  frontend/src/services/client/VerificationService.ts
  frontend/src/services/server/AdminService.ts
  frontend/src/services/server/Api.ts
  frontend/src/services/server/ConversationScenarioService.ts
  frontend/src/services/server/SessionService.ts
  frontend/src/services/server/UserProfileService.ts
Labels: frontend
