Repository jst-seminar-rostlab-tum/personio-foundation-coachai, pull requests merged in 2025-07, with the labels that each got.

#565 Implement Content Security Policy
  frontend/src/app/[locale]/(about)/layout.tsx
  frontend/src/app/[locale]/(auth)/layout.tsx
  frontend/src/app/[locale]/(main)/layout.tsx
  frontend/src/app/[locale]/(standalone)/layout.tsx
  frontend/src/app/layout.tsx
  frontend/src/middleware.ts
Labels: feature, frontend

#594 fix select component locking scroll
  frontend/src/styles/globals.css
Labels: frontend, improvement

#588 feat(F-101): add reviewed field to session and implement review check…
  backend/app/schemas/session.py
  backend/app/services/review_service.py
  backend/app/services/session_service.py
  backend/app/tests/routers/test_review_router.py
  backend/app/tests/routers/test_session_router.py
Labels: feature, backend, improvement

#611 fix(F-417): Centralize types
  frontend/src/app/[locale]/(auth)/login/components/PrivacyDialog.tsx
  frontend/src/interfaces/models/Common.ts
  frontend/src/interfaces/models/PrivacyDialog.ts
  frontend/src/interfaces/models/Session.ts
  frontend/src/interfaces/models/SessionFeedback.ts
  frontend/src/interfaces/models/UserStats.ts
Labels: frontend

#616 fix(F-101): change ai_emotion field to be optional in SessionTurn mod…
  backend/alembic/versions/2025_07_03_1844-7718ddcf9e37_change_make_ai_emotion_to_optional.py
  backend/app/models/session_turn.py
  backend/app/routers/session_turn_route.py
  backend/app/schemas/session_turn.py
Labels: bug, backend

#618 chore: Modify csp policy to allow local development
  frontend/src/middleware.ts
Labels: bug, meta

#628 feat(F-583): Replace Emoji Flags with SVG Icons in Language Switcher
  frontend/public/images/common/english-flag.svg
  frontend/public/images/common/german-flag.svg
  frontend/src/components/common/LanguageSwitcher.tsx
Labels: bug, frontend

#652 feat(F-630): Fix Footer Layout Break on German Locale - Add flex-wrap
  frontend/src/components/layout/AboutFooter.tsx
Labels: frontend

#650 feat(F-615): Fixing layout issues from long words - adding hyphens
  frontend/src/app/layout.tsx
  frontend/src/styles/globals.css
Labels: bug, feature

#655 feat(F-634): fix options 400
  frontend/src/middleware.ts
Labels: frontend

#651 fix(M): fix undefined avg stats
  frontend/src/app/[locale]/(main)/admin/page.tsx
  frontend/src/app/[locale]/(main)/dashboard/page.tsx
  frontend/src/app/[locale]/(main)/history/components/HistoryStats.tsx
  frontend/src/services/UserProfileService.ts
Labels: frontend

#627 feat(M): Add password reset functionality
  frontend/messages/de/Common.json
  frontend/messages/de/Login.json
  frontend/messages/de/Reset.json
  frontend/messages/de/UpdatePassword.json
  frontend/messages/en/Common.json
  frontend/messages/en/Login.json
  frontend/messages/en/Reset.json
  frontend/messages/en/UpdatePassword.json
  frontend/src/app/[locale]/(auth)/confirm/components/ConfirmationForm.tsx
  frontend/src/app/[locale]/(auth)/login/components/SignInForm.tsx
  frontend/src/app/[locale]/(auth)/login/components/SignUpForm.tsx
  frontend/src/app/[locale]/(auth)/reset/components/ResetPasswordForm.tsx
  frontend/src/app/[locale]/(auth)/reset/page.tsx
  frontend/src/app/[locale]/(auth)/update-password/components/UpdatePasswordForm.tsx
  frontend/src/app/[locale]/(auth)/update-password/page.tsx
  frontend/src/i18n/request.ts
  frontend/src/lib/supabase/middleware.ts
  frontend/src/lib/utils/metadata.ts
Labels: feature, frontend, improvement

#669 Create vertex ai client
  backend/.env.example
  backend/README.md
  backend/app/config.py
  backend/app/connections/vertexai_client.py
  backend/app/data/populate_dummy_data.py
  backend/app/rag/embeddings.py
  backend/app/rag/populate_vector_db.py
  backend/app/rag/rag.py
  backend/app/services/scenario_preparation/scenario_preparation_service.py
  backend/app/services/session_feedback/session_feedback_llm.py
  backend/app/services/vector_db_context_service.py
  backend/app/services/voice_analysis_service.py
  backend/app/tests/services/test_vector_db_context_service.py
  backend/pyproject.toml
  backend/uv.lock
Labels: meta, backend

#672 feat(F-629): Add WebRTC Connection Status UI and Hangup Transition
  frontend/messages/de/Simulation.json
  frontend/messages/en/Simulation.json
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationFooter.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationHeader.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationPage.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/hooks/useWebRTC.ts
  frontend/src/interfaces/models/Simulation.ts
Labels: feature, frontend

#595 Live feedback - model, service, schema
  backend/alembic/versions/2025_07_09_1807-79cce3e613d2_implement_live_feedback.py
  backend/app/connections/gemini_client.py
  backend/app/data/__init__.py
  backend/app/data/dummy_data.py
  backend/app/data/populate_dummy_data.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/live_feedback_model.py
  backend/app/routers/live_feedback_route.py
  backend/app/routers/session_turn_route.py
  backend/app/schemas/live_feedback_schema.py
  backend/app/services/live_feedback_service.py
  backend/app/services/scenario_preparation/scenario_preparation_service.py
  backend/app/services/session_turn_service.py
  backend/app/services/vector_db_context_service.py
  backend/app/tests/services/test_live_feedback_service.py
Labels: feature, meta, backend

#701 refactor(M): clean SimulationPage
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationPage.tsx
Labels: frontend

#703 feat(F-667): Change wording of Emptylist Component to be more generic
  frontend/messages/de/Common.json
  frontend/messages/en/Common.json
Labels: frontend

#710 Fix cascade deleting live feedback and update alembic
  backend/alembic/versions/2025_07_10_2107-3dfcba1ec486_on_delete_cascade_live_feedback.py
  backend/app/models/live_feedback_model.py
Labels: bug, meta, backend

#711 feat(F-664): add connector.ts to export env variables with default fallback values
  frontend/.env.example
  frontend/public/robots.txt
  frontend/src/app/layout.tsx
  frontend/src/app/sitemap.ts
  frontend/src/lib/connector.ts
  frontend/src/lib/supabase/client.ts
  frontend/src/lib/supabase/server.ts
  frontend/src/lib/utils/metadata.ts
  frontend/src/middleware.ts
  frontend/src/services/ApiClient.ts
  frontend/src/services/ApiServer.ts
  frontend/src/services/AuthInterceptor.ts
Labels: feature, frontend

#719 General Backend Code Improvements
  backend/app/models/conversation_category.py
  backend/app/models/conversation_scenario.py
  backend/app/models/scenario_preparation.py
  backend/app/models/session.py
  backend/app/models/session_feedback.py
  backend/app/models/user_confidence_score.py
  backend/app/models/user_goal.py
  backend/app/models/user_profile.py
  backend/app/routers/signed_url_route.py
  backend/app/schemas/admin_dashboard_stats.py
  backend/app/schemas/conversation_category.py
  backend/app/schemas/session_feedback.py
  backend/app/schemas/user_export.py
  backend/app/services/backup.txt
  backend/app/services/conversation.json
  backend/app/services/google_cloud_storage_service.py
  backend/app/services/realtime_context_service.py
Labels: backend

#712 feat(F-700): fix appheader reload on user change
  frontend/src/app/[locale]/(main)/layout.tsx
  frontend/src/app/[locale]/(main)/onboarding/components/OnboardingPage.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/contexts/User.tsx
Labels: frontend, improvement

#566 F-538: Redesign of whole New-Scenario page
  frontend/messages/de/ConversationScenario.json
  frontend/messages/en/ConversationScenario.json
  frontend/public/images/complexity/complex.svg
  frontend/public/images/complexity/medium.svg
  frontend/public/images/complexity/simple.svg
  frontend/public/images/difficulty/easy.svg
  frontend/public/images/difficulty/hard.svg
  frontend/public/images/difficulty/medium.svg
  frontend/public/images/personas/persona-angry.png
  frontend/public/images/personas/persona-casual.png
  frontend/public/images/personas/persona-positive.png
  frontend/public/images/personas/persona-sad.png
  frontend/public/images/personas/persona-shy.png
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/CategoryButton.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/CategoryStep.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/ContextCardButtons.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/ConversationScenarioForm.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/CustomizeStep.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/PersonaButton.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/PersonaInfo.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/PersonaTextarea.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/SituationStep.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/page.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/components/PreparationContent.tsx
  frontend/src/components/ui/Textarea.tsx
  frontend/src/interfaces/models/ConversationScenario.ts
  frontend/src/interfaces/store/ConversationScenarioState.ts
  frontend/src/lib/constants/categories.ts
  frontend/src/services/ConversationScenarioService.ts
  frontend/src/store/ConversationScenarioStore.ts
Labels: feature, frontend, improvement

#685 Feat/test for review route and service
  backend/app/dependencies.py
  backend/app/services/review_service.py
  backend/app/tests/routers/test_review_router.py
  backend/app/tests/services/test_review_service.py
Labels: feature, backend

#721 Advisor service - advice generating
  backend/app/schemas/advisor_response.py
  backend/app/services/advisor_service.py
  backend/app/tests/services/test_advisor_service.py
Labels: feature, meta, backend

#725 Feat/delete audio files
  backend/app/services/conversation_scenario_service.py
  backend/app/services/session_service.py
  backend/app/services/session_turn_service.py
  backend/app/services/user_profile_service.py
  backend/app/tests/services/test_session_turn_service.py
  backend/app/tests/services/test_user_profile_service.py
Labels: feature, backend

#716 feat(M): add Timezone to request headers
  frontend/src/services/AuthInterceptor.ts
Labels: frontend

#741 feat(M): Implement average score calculation and update UI components
  frontend/src/app/[locale]/(main)/admin/page.tsx
  frontend/src/app/[locale]/(main)/dashboard/page.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/ConversationScenarioForm.tsx
  frontend/src/components/common/BackButton.tsx
  frontend/src/components/layout/AppHeader.tsx
  frontend/src/interfaces/models/ConversationScenario.ts
  frontend/src/lib/utils/scoreUtils.ts
Labels: frontend

#745 feat(M): Integrate session real-time data into simulation Header
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationHeader.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/components/SimulationPage.tsx
  frontend/src/app/[locale]/(standalone)/simulation/[id]/page.tsx
  frontend/src/services/SessionService.ts
Labels: frontend

#524 fix(F-459): update all loading pages to match the actual page
  frontend/src/app/[locale]/(auth)/login/loading.tsx
  frontend/src/app/[locale]/(main)/admin/loading.tsx
  frontend/src/app/[locale]/(main)/dashboard/loading.tsx
  frontend/src/app/[locale]/(main)/feedback/[id]/loading.tsx
  frontend/src/app/[locale]/(main)/history/loading.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/loading.tsx
  frontend/src/app/[locale]/(main)/onboarding/loading.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/loading.tsx
  frontend/src/app/[locale]/(main)/settings/loading.tsx
  frontend/src/app/[locale]/(standalone)/session/[id]/components/SessionHeader.tsx
  frontend/src/app/[locale]/(standalone)/session/[id]/loading.tsx
Labels: frontend, improvement

#720 feat(F-626): Update dashboard/history with sessions & scenarios
  frontend/messages/de/Dashboard.json
  frontend/messages/de/History.json
  frontend/messages/de/PersonalizationOptions.json
  frontend/messages/en/Dashboard.json
  frontend/messages/en/History.json
  frontend/messages/en/PersonalizationOptions.json
  frontend/src/app/[locale]/(main)/admin/components/UsersList.tsx
  frontend/src/app/[locale]/(main)/dashboard/components/DashboardTable.tsx
  frontend/src/app/[locale]/(main)/dashboard/page.tsx
  frontend/src/app/[locale]/(main)/history/[id]/components/HistoryHeader.tsx
  frontend/src/app/[locale]/(main)/history/[id]/components/HistoryTable.tsx
  frontend/src/app/[locale]/(main)/history/[id]/loading.tsx
  frontend/src/app/[locale]/(main)/history/[id]/page.tsx
  frontend/src/app/[locale]/(main)/history/components/HistoryHeader.tsx
  frontend/src/app/[locale]/(main)/history/components/HistoryStats.tsx
  frontend/src/app/[locale]/(main)/history/components/PreviousSessions.tsx
  frontend/src/app/[locale]/(main)/history/page.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/CategoryStep.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/CustomizeStep.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/components/PreparationCollapsibleSection.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/components/PreparationContent.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/page.tsx
  frontend/src/app/[locale]/(main)/settings/components/Settings.tsx
  frontend/src/app/[locale]/(standalone)/session/[id]/components/SessionHeader.tsx
  frontend/src/components/common/ClickableTable.tsx
  frontend/src/components/common/DeleteConfirmButton.tsx
  frontend/src/components/common/DeleteUserHandler.tsx
  frontend/src/components/common/PersonaCollapsibleSection.tsx
  frontend/src/components/ui/AlertDialog.tsx
  frontend/src/components/ui/Badge.tsx
  frontend/src/components/ui/Table.tsx
  frontend/src/interfaces/models/ConversationScenario.ts
  frontend/src/interfaces/models/Session.ts
  frontend/src/interfaces/store/ConversationScenarioState.ts
  frontend/src/lib/constants/categories.ts
  frontend/src/services/ConversationScenarioService.ts
  frontend/src/services/SessionService.ts
  frontend/src/store/ConversationScenarioStore.ts
  frontend/src/styles/globals.css
Labels: feature, frontend, improvement

#760 696 advisor service endpoint
  backend/alembic/versions/2025_07_15_0219-ab7ebf70f8b9_add_scenario_advice.py
  backend/app/models/user_profile.py
  backend/app/services/advisor_service.py
  backend/app/services/session_feedback/session_feedback_service.py
  backend/app/services/session_service.py
  backend/app/tests/services/test_advisor_service.py
  backend/app/tests/services/test_session_feedback_service.py
  backend/app/tests/services/test_session_feedback_service_db.py
  frontend/src/interfaces/models/UserProfile.ts
Labels: feature, meta

#774 773 new training improvement
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/ContextCardButtons.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/ConversationScenarioForm.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/components/PersonaButton.tsx
Labels: frontend, improvement

#770 fix(M): fix after deletion bugs
  frontend/src/app/[locale]/(main)/admin/components/AdminStatCards.tsx
  frontend/src/app/[locale]/(main)/admin/components/UsersList.tsx
  frontend/src/app/[locale]/(main)/admin/page.tsx
  frontend/src/app/[locale]/(main)/dashboard/components/DashboardTable.tsx
  frontend/src/app/[locale]/(main)/dashboard/page.tsx
  frontend/src/app/[locale]/(main)/history/[id]/components/HistoryTable.tsx
  frontend/src/app/[locale]/(main)/new-conversation-scenario/page.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/page.tsx
  frontend/src/components/common/SessionLimitReached.tsx
  frontend/src/interfaces/store/AdminStatsState.ts
  frontend/src/lib/utils/scoreUtils.ts
  frontend/src/store/AdminStatsStore.ts
Labels: frontend

#795 Update populate static data script
  backend/app/data/populate_dummy_data.py
  backend/app/data/populate_static_data.py
Labels: meta, backend

#788 Admin Page Improvement
  frontend/messages/de/Admin.json
  frontend/messages/en/Admin.json
  frontend/src/app/[locale]/(main)/admin/components/Reviews.tsx
  frontend/src/app/[locale]/(main)/admin/components/SessionSetter.tsx
  frontend/src/app/[locale]/(main)/admin/components/UsersList.tsx
  frontend/src/app/[locale]/(main)/admin/page.tsx
  frontend/src/components/ui/Progress.tsx
Labels: frontend, improvement

#808 feat(F-101): enhance language prompt handling and add language-specif…
  backend/app/enums/language.py
  backend/app/services/live_feedback_service.py
  backend/app/services/scenario_preparation/scenario_preparation_service.py
  backend/app/services/session_feedback/session_feedback_llm.py
  backend/app/services/session_feedback/session_feedback_prompt_templates.py
Labels: bug, backend

#810 feat(M): Add loading to feedback components and update average score …
  frontend/messages/de/Feedback.json
  frontend/messages/en/Feedback.json
  frontend/src/app/[locale]/(main)/feedback/[id]/components/FeedbackDetail.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/lib/utils/scoreUtils.ts
Labels: frontend

#811 feat(M): Implement auth state change listener in UserContext to refre…
  frontend/src/contexts/User.tsx
Labels: frontend

#817 refactor(M): check if admin dont show SessionLimitReached
  frontend/src/app/[locale]/(main)/new-conversation-scenario/page.tsx
  frontend/src/app/[locale]/(main)/preparation/[id]/page.tsx
Labels: frontend

#820 Session feedback in correct language
  backend/app/services/session_service.py
Labels: bug, meta, backend
